* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d1cfcf;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 1300px 700px;
    height: 100vh;
}

.container {
    background: #f3f3f3;
    height: 360px;
    width: 330px;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 43px;
    color: black;
    text-align: center;
}

form #user,#word {
    font-size: 22px;
    color: black;
    padding: 5px;
    margin: 2px;
}

form #sign {
    font-size: medium;
    color: black;
    padding: 5px;
    margin: 2px;
    margin-left: 4px;
}

form input {
    border: 1px solid black;
    margin-left: 7.5px;
    margin-top: 2px;
    height: 25px;
    width: 92%;
    border-radius: 3px;
    padding: 5px;
    font-size: medium;
}

form #btn {
    border: 1px solid black;
    border-radius: 5px;
    height: 6vh;
    width: 96%;
    margin-left: 7.5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(0, 94, 255);
    color: white;
}

form #btn:hover {
    background: rgb(39, 70, 144);;
}

#sign a{
    color: rgb(0, 147, 232);
    text-decoration: none;
}

#sign a:hover {
    text-decoration: underline;
} 

