* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #d1cfcf;
    height: 100vh;
}

.box {
   background: #f3f3f3;
    height: 360px;
    width: 330px;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 43px;
    color: black;
    text-align: center;
}

form #user,#word {
    font-size: 21px;
    color: black;
    padding: 3px;
    margin-top: 20px;
}

form input {
    height: 25px;
    width:95%;
    font-size: medium;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 3px;
    margin-top: 6px;
}

form button {
    height: 6vh;
    width: 99%;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    background: rgb(0, 94, 255);
    border: 1px solid black;
    border-radius: 4px;
    color: white;
}

form button:hover {
    background: rgb(39, 70, 144);
}

#result {
    text-align: center;
    font-size: large;
    margin: 10px;
    padding: 10px;
    font: bold;
}
